@import "tailwindcss";


@theme {
--color-backgound:#FFFFFF;
--color-primery:#FcF7F7;
--color-sectionbackground:#f7f7f5;
--color-navlink:#6F6F6F;
--color-paragraph:#5D5F5D;
--color-bcolor:#E6E6E3;
--font-inter: 'inter';
}

@layer base {

    body{
        background-color: var(--color-backgound);
        font-family: var(--font-inter);
    }

    p,span{
        color: var(--color-paragraph);
    }

}

@utility row{

    @apply flex items-center
}

@utility nav-link{

    @apply text-xs text-navlink hover:text-black hover:scale-130 hover:underline inline-block transition-all duration-500;
}
